@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
    font-style: normal;
  
}

.it-nav {
  display: flex;
  gap: 25px;
  background-color: #3fa2db;
  /* padding: 1rem 10%; */
  margin: 0;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: start;
  position: fixed;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  z-index: 1000;
}
.it-nav .logo,
.logo h3 {
  display: flex;
  gap: 3rem;
  font-size: 25px;
}
.it-nav ul {
  display: flex;
  gap: 20px;
}
.it-nav ul li {
  list-style: none;
  font-size: 20px;
}
.it-nav button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}
.it-nav button:hover {
  border: 2px solid black;
  background-color: transparent;
}
/*------bg-section------*/
section {
  background-image: url(https://img.freepik.com/free-photo/standard-quality-control-concept-m_23-2150041841.jpg);
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 2rem 10%;
}
section .it-content {
  padding-top: 8rem;
  color: #3fa2db;
}
.it-content h2 {
  font-size: 3rem;
}
.it-content h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #3fa2db;
  bottom: 0;
}

h1::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #0a3862;
  bottom: 0;
  margin: auto;
}
.it-content p {
  font-size: 20px;
  margin-top: 20px;
}
.it-content button {
  padding: 10px;
  margin-top: 25px;
  font-size: 18px;
  border-radius: 5px;
  border: 3px solid #3fa2db;
  background-color: transparent;
  color: #3fa2db;
}

/*----------satisfaction-----------*/

.section1 {
  background-color: #0a3862;
  padding: 20px 30px;
}
.section1 .sati-guara {
  display: flex;
  justify-content: space-around;
}
.sati h2{
  color: white;
}
.sati-guara p {
  margin-top: 20px;
  color: white;
}
.sati01 button {
  margin-top: 20px;
  padding: 10px 40px;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
}

/*----------indudtry-----------*/
.industry {
  margin-top: 6%;
  color: #0a3862;
}
.industry-section h4 {
  text-align: center;
  line-height: 3rem;
  /* border: 2px solid red; */
}
.industry-section h1 {
  text-align: center;
  line-height: 3rem;
  font-size: 3rem;
  
}
.industry-section p {
  text-align: center;
  margin-top: 1.5rem;
  line-height: 1.5rem;
}

/*----------icone-section---------*/

.icon-content {
  display: flex;
  gap: 5rem;
  padding: 2rem 10%;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
 
}
.icon01 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.icon-content i {
  font-size: 3rem;
  color: #0a3862;
  text-align: center;
}
.icon-content .icon01,
.icon01,
.icon01,
.icon01 {
  padding: 20px;
}
.icon-content .icon01:hover,
.icon01:hover,
.icon01:hover,
.icon01:hover {
  background-color: rgb(222, 221, 221);
  box-shadow: 4px 10px 6px silver;
}
.icon-content .icon01 i,
.icon01 i,
.icon01 i,
.icon01 i {
  display: block;
  margin: auto;
}
.icon-content p {
  font-size: 1.5rem;
  margin-top: 25px;
  line-height: 2rem;
  color: #0a3862;
}
.icon01 .find {
  background-color: white;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
.icon01 .find:hover {
  color: #0a3862;
}
/*--------about-us------*/

.about .about1 {
  display: flex;
  padding: 2rem 5%;
  gap: 5rem;
}
.about1 .image img {
  width: 600px;
  height: 600px;
}
.about2 {
  margin-top: 6rem;
  color: #0a3862;
}
.about1 h3 {
  margin-top: 20px;
  font-size: 3rem;
}
.about2 p {
  font-size: 20px;
  margin-top: 20px;
  color: rgb(104, 103, 103);
}
.about2 button {
  padding: 10px 30px;
  margin-top: 20px;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid #0a3862;
  color: #0a3862;
  background-color: silver;
}
.about-us {
  background-color: silver;
}

/*-------------services-section-----------*/

.service-content {
  display: flex;
  padding: 3rem 10%;
  gap: 10rem;
  margin-top: 3rem;
  color: #0a3862;
}

.services span {
  font-size: 15px;
}
.services h3 {
  font-size: 2rem;
  margin-top: 10px;
}
.service01 p {
  font-size: 25px;
  color: rgb(104, 103, 103);
}

/*-----------services-image----------*/
.ser01 {
  display: flex;
  padding: 2rem 10%;
  gap: 3rem;
}
.ser01 .image img {
  width: 100%;
  height: 200px;
}
.ser01 .image h3 {
  margin-top: 10px;
  font-size: 23px;
  color: #0a3862;
  padding: 15px;
}
.ser01 .image p {
  color: rgb(104, 103, 103);
  margin-top: 10px;
  font-size: 19px;
  padding: 15px;
}
.ser01 .image{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  
}

/*-----------inside-section-----------*/
.inside-section {
  background-color: silver;
}
.inside {
  display: flex;
  padding: 2rem 10%;
}
.inside .inside1 {
  background-color: #0a3862;

  text-align: center;
  padding: 20px 30px;
}
.inside1 h3 {
  margin-top: 2rem;
  font-size: 30px;
  color: white;
}
.inside1 p {
  font-size: 20px;
  margin: 2rem;
  color: white;
}
.inside1 button {
  padding: 10px 30px;
  font-size: 15px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
.inside .image img {
  width: 100%;
}
/*-----------our-section----------*/
.our-case {
  margin-top: 5rem;
}
.our-study {
  text-align: center;
  margin-top: 30px;
}
.our-study span {
  font-size: 20px;
  color: rgb(104, 103, 103);
}
.our-study h1 {
  font-size: 3rem;
  color: #0a3862;
  margin-top: 20px;
}
/*------------our-section----------*/
.our-content {
  display: flex;
  padding: 2rem 10%;
  gap: 4rem;
  margin: auto;
}
.our-content .image img {
  width: 100%;
}
.our-content .image{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
.our-content .image h3 {
  font-size: 22px;
  margin-top: 10px;
  color: #0a3862;
}
.our-content .image p {
  font-size: 19px;
  margin-top: 10px;
  color: rgb(104, 103, 103);
}

/*----------test imonial----------*/
.test {
  text-align: center;
  margin-top: 2rem;
}
.test p {
  color: gray;
}
.test h3 {
  font-size: 3rem;
  color: #0a3862;
}
.test-imonial {
  display: flex;
  padding: 2rem 10%;
  gap: 4rem;
  margin-top: 3rem;
}
.test-imonial .icon{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;

}
.icon img{
  width: 30%;
}
.icon h3 {
  font-size: 1.5rem;
  color: #0a3862;
}
.icon p {
  font-size: 18px;
  margin-top: 1.5rem;
  color: rgb(76, 75, 75);
}
.icon h4{
    font-size: 20px;
    margin-top: 30px;
    color: #0a3862;
}

     /*-------------lets-work------------*/

.let-section{
    background-color: #0a3862;
}
.let{
    margin-top: 4rem;
    text-align: center;
    padding: 40px;
}
.let h3{
    font-size: 3rem;
    color: white;

}
.let p{
    margin-top: 20px;
    font-size: 18px;
    color: white;
}
.let button{
    margin-top: 20px;
    padding: 15px 30px;
    color: white;
    border:2px solid white;
    background-color: transparent;
    font-size: 15px;
}

/*--------footer-section----------*/
.footer-section{
  background-color: silver;
}
.foot1{
  display: flex;
  margin-top: 30px;
  gap: 2rem;
}
.footer-content h3{
  margin-top: 20px;
  font-size:20px;
  color: rgb(74, 73, 73);
  text-align: center;
}
.foot2{
  margin-top: 3rem;
}
.foot2 p{
  font-size: 19px;
  white-space: pre;
  line-height: 2rem;
  }
.foot2 ul li{
  list-style: none;
  font-size: 1rem;
  line-height: 2rem;
}
.foot2 i{
  font-size: 1rem;
  background-color: #3B5998;
  padding: 10px;
  border-radius: 50px;
  color: white;
 margin: 5px;
 transition: 0.3s all ease-in-out;
}
.foot2 i:hover{
  transform: rotateY(-180deg);
  cursor: pointer;
  transition: 0.2s all ease-in-out;
    
}

@media(max-width:708px){
  section{
    background-size: cover;
    background-position: center;
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)), url(https://img.freepik.com/free-photo/standard-quality-control-concept-m_23-2150041841.jpg);

  }
 .logo ul{
  display: none;
 }
 .it-content h2 {
  font-size: 2rem;
}
.it-content p {
  font-size: 15px;
  margin-top: 15px;
}
.it-content button {
  margin-top: 15px;
  font-size: 18px;
}
.sati-guara{
  flex-direction: column;
}
.industry-section h1{
  font-size: 1.5rem;
  line-height: 2rem;
}
.icon-content{
  flex-direction: column;
  margin-top: 2rem;
}
.about1{
  flex-direction: column;
}
.about1 .image img {
width: 100%;
height: auto;
}
.about2 {
  margin-top: 6rem;
  color: #0a3862;
}
.about .about1{
  gap: 0px;
}
.about1 h3 {
  margin-top: 15px;
  font-size: 2rem;
}
.about2 p {
  font-size: 15px;
  margin-top: 18px;
}
.about2 button {
 
  margin-top: 15px;
  font-size: 15px;
}

.service-content{
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.services h3{
  font-size: 1.5rem;
  
}
.services p{
  font-size: 17px;
}

.ser01{
  flex-direction: column;
}

.inside{
  flex-direction: column;
}
.inside1 h3{
  font-size: 25px;
}
.inside1 p{
  font-size: 18px;
}

.our-study h1{
  font-size: 2rem;
}
.our-content{
  flex-direction: column;
}
.our-content h3{
  padding: 20px;
}
.our-content p{
  padding: 20px;
}

.test h3{
  font-size: 2rem;
}

.test-imonial{
  flex-direction: column;
  margin-top: 0px;
}

.let h3{
  font-size: 2rem;
}

.foot1{
  flex-direction: column;
  gap: 1rem;
}
.foot2 p{
  white-space: normal;
}
.footer-content{
  text-align: center;
}
}